.Main-Style {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: absolute;
  width: 100vw;
  height: 100vh;
}

.Base {
  display: flex;
  flex-direction: column;
  position: absolute;
}

.Form-Style {
  display: flex;
  text-align: start;
  margin-top: 15%;
  flex-direction: column;
  background-color: #a3a3a3;
  color: #222c42;
  width: 750px;
  padding: 10px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.title {
  text-align: center;
  font-size: 100%;
}

#alert-message {
  display: flex;
  align-items: center;
  font-size: small;
  margin: 5px;
  height: 20px;
}

.alignSearch {
  display: flex;
  justify-content: end;
}

.searchItem {
  border: none;
  width: 200px;
  height: 30px;
  margin: 5px;
  font-size: medium;
}

.searchItem:focus {
  outline:solid 4px #666666;
}

#codControl {
  display: none;
}

#exib {
  display: none;
  flex-direction: column;
  background-color: #a3a3a3;
  width: 750px;
  padding: 10px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.ButtonBox {
  display: flex;
  justify-content: space-between;
}

.PrimaryGroup {
  display: flex;
  justify-content: start;
}

.SecondaryGroup {
  display: flex;
  justify-content: end;
}

@media (width <= 670px){
  .Form-Style, #exib {
    width: 330px;
  }
  .alignSearch {
    justify-content: center;
  }
  .SecondaryGroup {
    justify-content: center;
  }
}